body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.car-card {
  background: linear-gradient(0deg, rgb(243, 248, 249), rgb(209, 221, 221));
  border-radius: 20px;
  padding: 10px;
  margin:10px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0,0,0,0.9);
  overflow: hidden;
  width: 460px;
  display: inline-block;
}

.car-card .car-img {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  display: block;
	width: 450px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
}

.car-review {
  background: linear-gradient(0deg, rgb(243, 248, 249), rgb(209, 221, 221));
  border-radius: 20px;
  padding: 5px;
  margin:10px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0,0,0,0.9);
  width: 460px;
  margin-left: auto;
  margin-right: auto;
}

.car-review-page {
  margin: 10px;
  text-align: center;
  width: 460px;
  margin-left: auto;
  margin-right: auto;
}

.car-review-card {
  text-align: center;
}

.car-review-card .car-img {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  display: block;
	width: 450px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
}

.review-form {
  margin-top: 50px;;
	margin-bottom: 50px;
	background: transparent;
	width: 100%;
	display: inline-block;
}

.review-form-input {
	padding: 14px 32px 14px 16px;
	border-radius: 5px;
	border: 1px solid #4169E1;
	outline: 0;
	width: 460px;
	background-color: transparent;
	margin: auto;
	display: inline-block;
	margin-bottom: 10px;
}

.add-review-button {
	padding: 12px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	background: #4169E1;
	color: #fff;
	text-transform: capitalize;
	max-width: 200px;
	width: 100%;
	display: inline-block;
	margin: auto;
}

.icons {
	display: flex;
	font-size: 24px;
	cursor: pointer;
}


.car-card2 {
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}

.car-card2 .car-image {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  height: 100px;
  width: 125px;
}

.car-card2 .car-image img {
  justify-content: center;
}